*{
    margin: 0;
    padding: 0;
}


.main{
    width: 100%;
    background: linear-gradient( to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%),url(istockphoto-1440160796-170667a.webp);
    background-position: center;
    background-size: cover;
    height: 75vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: rgb(25, 25, 93);
    font-size: 25px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 42px;
    margin-top:27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgb(133, 126, 126);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:rgb(236, 233, 233);
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(16, 16, 16);
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height:40px;
    background: rgb(33, 33, 66);
    border: 2px solid rgb(33, 33, 66);
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:hover{
    color: black;
    cursor: pointer;
    background-color: rgba(61, 61, 91, 0.936);
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    margin-top: 75px;
    margin-left: 105px;
    font-size: larger;
    font-family: Arial;
}

.home-about{
    color: rgba(183, 164, 54, 0.925);
}

.university{
    width: 42%;
    float: right;

}

.writing{
    width: 380px;
}

.welcome{
    vertical-align: top;
    width: 750px;
    display: inline-block;
    margin-left: 50px;
}

.student-writing{
    display: inline-block;
    width:48px;
}

.w-1,.g-1,.c-1,.o-1{
    font-size: 40px;
    font-family: Arial;
    text-decoration:underline;
    color: rgba(183, 164, 54, 0.925);
    margin-bottom: 15px;
    margin-left: 25px;
}

.welcome-statement,.know-statement {

    font-size: 17px;
    text-align: left;
}

.hr{
    background-color: rgb(25, 25, 93);
    width: 660px;
    display:inline-block;
    color: rgb(25, 25, 93);
    margin-top: 28px;
    margin-left: 25px;
    border-radius: 10px;
    margin-bottom: 28px; 
}


.commitment{
    width: 585px;
    display: inline-block;
    margin-left: 50px;
}

.vertical{
    display:inline-block;
    width: 5px;
    vertical-align: top;
}
.vl{
    border: 3px solid rgb(25, 25, 93);
    height: 255px;
    color: rgb(25, 25, 93);
    border-radius: 8px;
}

.c-2{
    font-size: 25px;
    color: rgb(25, 25, 93);
}

